<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="nav d-flex flex-row justify-content-around align-items-center p-2">
            <h2>Agro Market</h2>
            <ul class="navul d-flex flex-row justify-content-around w-50">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Cart</a></li>
                <li><a href="">Wishlist</a></li>
            </ul>
            <div class="searchdiv d-flex flex-row">
                <input type="text" name="" id="">
                <img src="search.png" height="30" width="30" alt="">
            </div>
        </div>
    </header>
</body>
</html>